<!-- <script src="<%=objectServer.linkDomain%>/public/home/js/footer-reveal.min.js"></scrip> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>
        <%=appTitle%>
    </title>

    <!-- Favicon -->
    <link rel="icon" href="public/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="public/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="public/css/responsive.css" rel="stylesheet">
    <script>
    
            const appName = '<%=appName%>';
            const btnSignInFree = "đăng kí miễn phí";
            const appDescription = '<%=appDescription%>';
            const linkGoogleApp = '<%=linkGoogleApp%>';
            const linkAppleApp = '<%=linkAppleApp%>';
            const objHeader = { 
                btnSignInFree: btnSignInFree, 
                appName: appName
            };
            const objWellcomeAreaStart = { 
                appName: appName,
                appDescription: appDescription,
            };
            const propsSpecialComponent = { appName: appName }
    
        </script>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>
    <header className="header_area animated">
            <div className="container-fluid">
                <div className="row align-items-center">
                    <div className="col-12 col-lg-10">
                        <div className="menu_area">
                            <nav className="navbar navbar-expand-lg navbar-light">
                                <a className="navbar-brand" href="#">
                                    {{Header.appName}}
                                </a>
                                <button className="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                    aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                        className="navbar-toggler-icon"></span></button>
                                <div className="collapse navbar-collapse" id="ca-navbar">
                                    <ul className="navbar-nav ml-auto" id="nav">
                                        <li className="nav-item active"><a className="nav-link" href="#home">Home</a></li>
                                        <li className="nav-item"><a className="nav-link" href="#about">dịch vụ của
                                                chúng
                                                tôi</a></li>
                                        <li className="nav-item"><a className="nav-link" href="#features">tính năng</a></li>
                                        <li className="nav-item"><a className="nav-link" href="#pricing">gói dịch vụ</a></li>
                                        <li className="nav-item"><a className="nav-link" href="#testimonials">thành
                                                viên</a></li>
                                        <li className="nav-item"><a className="nav-link" href="#contact">liên hệ</a></li>
                                    </ul>
                                    <div className="sing-up-button d-lg-none">
                                        <a href="#">{{Header.btnSignInFree}}</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div className="col-12 col-lg-2">
                        <div className="sing-up-button d-none d-lg-block">
                            <a href="#">{{Header.btnSignInFree}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section className="wellcome_area clearfix" id="home">
            <div className="container h-100">
                <div className="row h-100 align-items-center">
                    <div className="col-12 col-md">
                        <div className="wellcome-heading">
                            <h2> {{WellcomeAreaStart.appName}} app</h2>
                            <h3> {{WellcomeAreaStart.appName.charAt(0)}} </h3>
                            <p> {{WellcomeAreaStart.appDescription}} </p>
                        </div>
                        <div className="get-start-area">
                            <form action="#" method="post" className="form-inline">
                                <input type="email" className="form-control email" placeholder="name@company.com" />
                                <input type="submit" className="submit" value="Get Started" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div className="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
                <img src="public/img/bg-img/welcome-img.png" alt="" />
            </div>
        </section>
        <section className="special-area bg-white section_padding_100" id="about">
            <div className="container">
                <div className="row">
                    <div className="col-12">

                        <div className="section-heading text-center">
                            <h2>Dịch Vụ của chúng tôi</h2>
                            <div className="line-shape"></div>
                        </div>
                    </div>
                </div>

                <div className="row">

                    <div className="col-12 col-md-4">
                        <div className="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                            <div className="single-icon">
                                <i className="ti-mobile" aria-hidden="true"></i>
                            </div>
                            <h4>Dễ Sử Dụng</h4>
                            <p>Dịch vụ nhắn tin facebook số lượng lớn chỉ cần 1 click chuột đã có thể gửi 1 tin nhắn
                                cho
                                hàng ngàn người</p>
                        </div>
                    </div>

                    <div className="col-12 col-md-4">
                        <div className="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div className="single-icon">
                                <i className="ti-ruler-pencil" aria-hidden="true"></i>
                            </div>
                            <h4>Quảng Cáo Tốt Hơn</h4>
                            <p>Chỉ cần Cung cấp 1 group cần được quảng cáo, chúng tôi gửi tin nhắn đến cho tất cả thành
                                viên của nhóm.</p>
                        </div>
                    </div>

                    <div className="col-12 col-md-4">
                        <div className="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                            <div className="single-icon">
                                <i className="ti-settings" aria-hidden="true"></i>
                            </div>
                            <h4>Hiệu Quả Quảng Cáo Cao</h4>
                            <p>Thay vì chờ đợi khách hàng tìm đến chúng ta thì chúng ta đã có thể tìm đến khách hàng
                                bằng
                                dịch vụ này.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div className="special_description_area mt-150">
                <div className="container">
                    <div className="row">
                        <div className="col-lg-6">
                            <div className="special_description_img">
                                <img src="public/img/bg-img/special.png" alt="" />
                            </div>
                        </div>
                        <div className="col-lg-6 col-xl-5 ml-xl-auto">
                            <div className="special_description_content">
                                <h2>Quảng Cáo Cho Doanh Nghiệp!</h2>
                                <p>nhờ có khả năng chat, sms, email tự động với số lượng lớn trên facebook mà lúc này
                                    chúng
                                    ta chỉ cần tìm những group có các thành viên mà chúng ta cần quảng cáo đến, thay vì
                                    quảng cáo faceook hay google đều chờ khách hàng tìm đến chúng ta.
                                    {this.props.propsSpecialComponent.appName} là giải pháp quảng cáo cho doanh nghiệp
                                    thời
                                    đại</p>
                                <div className="app-download-area">
                                    <div className="app-download-btn wow fadeInUp" data-wow-delay="0.2s">

                                        <a href="#">
                                            <i className="fa fa-android"></i>
                                            <p className="mb-0"><span>available on</span> Google Store</p>
                                        </a>
                                    </div>
                                    <div className="app-download-btn wow fadeInDown" data-wow-delay="0.4s">

                                        <a href="#">
                                            <i className="fa fa-apple"></i>
                                            <p className="mb-0"><span>available on</span> Apple Store</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section className="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
            <div className="container">
                <div className="row">
                    <div className="col-12">

                        <div className="section-heading text-center">
                            <h2>Awesome Features</h2>
                            <div className="line-shape"></div>
                        </div>
                    </div>
                </div>

                <div className="row">

                    <div className="col-12 col-sm-6 col-lg-4">
                        <div className="single-feature">
                            <i className="ti-user" aria-hidden="true"></i>
                            <h5>Awesome Experience</h5>
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                        </div>
                    </div>

                    <div className="col-12 col-sm-6 col-lg-4">
                        <div className="single-feature">
                            <i className="ti-pulse" aria-hidden="true"></i>
                            <h5>Fast and Simple</h5>
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                        </div>
                    </div>

                    <div className="col-12 col-sm-6 col-lg-4">
                        <div className="single-feature">
                            <i className="ti-dashboard" aria-hidden="true"></i>
                            <h5>Clean Code</h5>
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                        </div>
                    </div>

                    <div className="col-12 col-sm-6 col-lg-4">
                        <div className="single-feature">
                            <i className="ti-palette" aria-hidden="true"></i>
                            <h5>Perfect Design</h5>
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                        </div>
                    </div>

                    <div className="col-12 col-sm-6 col-lg-4">
                        <div className="single-feature">
                            <i className="ti-crown" aria-hidden="true"></i>
                            <h5>Best Industry Leader</h5>
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                        </div>
                    </div>

                    <div className="col-12 col-sm-6 col-lg-4">
                        <div className="single-feature">
                            <i className="ti-headphone" aria-hidden="true"></i>
                            <h5>24/7 Online Support</h5>
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section className="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot">
            <div className="container">
                <div className="row">
                    <div className="col-12 text-center">

                        <div className="section-heading">
                            <h2>App Screenshots</h2>
                            <div className="line-shape"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div className="container-fluid">
                <div className="row">
                    <div className="col-12">

                        <div className="app_screenshots_slides owl-carousel">
                            <div className="single-shot">
                                <img src="public/img/scr-img/app-1.jpg" alt="" />
                            </div>
                            <div className="single-shot">
                                <img src="public/img/scr-img/app-2.jpg" alt="" />
                            </div>
                            <div className="single-shot">
                                <img src="public/img/scr-img/app-3.jpg" alt="" />
                            </div>
                            <div className="single-shot">
                                <img src="public/img/scr-img/app-4.jpg" alt="" />
                            </div>
                            <div className="single-shot">
                                <img src="public/img/scr-img/app-5.jpg" alt="" />
                            </div>
                            <div className="single-shot">
                                <img src="public/img/scr-img/app-3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section className="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
            <div className="container">
                <div className="row">
                    <div className="col-12">

                        <div className="section-heading text-center">
                            <h2>Pricing Plan</h2>
                            <div className="line-shape"></div>
                        </div>
                    </div>
                </div>

                <div className="row no-gutters">
                    <div className="col-12 col-md-6 col-lg-3">

                        <div className="single-price-plan text-center">

                            <div className="package-plan">
                                <h5>Starter Plan</h5>
                                <div className="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>29</h4>
                                </div>
                            </div>
                            <div className="package-description">
                                <p>Up to 10 users monthly</p>
                                <p>Unlimited updates</p>
                                <p>Free host &amp; domain</p>
                                <p>24/7 Support</p>
                                <p>10 Unique Users</p>
                            </div>

                            <div className="plan-button">
                                <a href="#">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div className="col-12 col-md-6 col-lg-3">

                        <div className="single-price-plan text-center">

                            <div className="package-plan">
                                <h5>Basic Plan</h5>
                                <div className="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>49</h4>
                                </div>
                            </div>
                            <div className="package-description">
                                <p>Up to 10 users monthly</p>
                                <p>Unlimited updates</p>
                                <p>Free host &amp; domain</p>
                                <p>24/7 Support</p>
                                <p>10 Unique Users</p>
                            </div>

                            <div className="plan-button">
                                <a href="#">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div className="col-12 col-md-6 col-lg-3">

                        <div className="single-price-plan active text-center">

                            <div className="package-plan">
                                <h5>Advenced Plan</h5>
                                <div className="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>69</h4>
                                </div>
                            </div>
                            <div className="package-description">
                                <p>Up to 10 users monthly</p>
                                <p>Unlimited updates</p>
                                <p>Free host &amp; domain</p>
                                <p>24/7 Support</p>
                                <p>10 Unique Users</p>
                            </div>

                            <div className="plan-button">
                                <a href="#">Select Plan</a>
                            </div>
                        </div>
                    </div>
                    <div className="col-12 col-md-6 col-lg-3">

                        <div className="single-price-plan text-center">

                            <div className="package-plan">
                                <h5>Community Plan</h5>
                                <div className="ca-price d-flex justify-content-center">
                                    <span>$</span>
                                    <h4>99</h4>
                                </div>
                            </div>
                            <div className="package-description">
                                <p>Up to 10 users monthly</p>
                                <p>Unlimited updates</p>
                                <p>Free host &amp; domain</p>
                                <p>24/7 Support</p>
                                <p>10 Unique Users</p>
                            </div>

                            <div className="plan-button">
                                <a href="#">Select Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section className="clients-feedback-area bg-white section_padding_100 clearfix" id="testimonials">
            <div className="container">
                <div className="row justify-content-center">
                    <div className="col-12 col-md-10">
                        <div className="slider slider-for">

                            <div className="client-feedback-text text-center">
                                <div className="client">
                                    <i className="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div className="client-description text-center">
                                    <p>“ I have been using it for a number of years. I use Colorlib for usability
                                        testing.
                                        It's great for taking images and making clickable image prototypes that do the
                                        job
                                        and save me the coding time and just the general hassle of hosting. ”</p>
                                </div>
                                <div className="star-icon text-center">
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                </div>
                                <div className="client-name text-center">
                                    <h5>Aigars Silkalns</h5>
                                    <p>Ceo Colorlib</p>
                                </div>
                            </div>

                            <div className="client-feedback-text text-center">
                                <div className="client">
                                    <i className="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div className="client-description text-center">
                                    <p>“ I use Colorlib for usability testing. It's great for taking images and making
                                        clickable image prototypes that do the job and save me the coding time and just
                                        the
                                        general hassle of hosting. ”</p>
                                </div>
                                <div className="star-icon text-center">
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                </div>
                                <div className="client-name text-center">
                                    <h5>Jennifer</h5>
                                    <p>Developer</p>
                                </div>
                            </div>

                            <div className="client-feedback-text text-center">
                                <div className="client">
                                    <i className="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div className="client-description text-center">
                                    <p>“ I have been using it for a number of years. I use Colorlib for usability
                                        testing.
                                        It's great for taking images and making clickable image prototypes that do the
                                        job.”</p>
                                </div>
                                <div className="star-icon text-center">
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                </div>
                                <div className="client-name text-center">
                                    <h5>Helen</h5>
                                    <p>Marketer</p>
                                </div>
                            </div>

                            <div className="client-feedback-text text-center">
                                <div className="client">
                                    <i className="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div className="client-description text-center">
                                    <p>“ I have been using it for a number of years. I use Colorlib for usability
                                        testing.
                                        It's great for taking images and making clickable image prototypes that do the
                                        job
                                        and save me the coding time and just the general hassle of hosting. ”</p>
                                </div>
                                <div className="star-icon text-center">
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                    <i className="ion-ios-star"></i>
                                </div>
                                <div className="client-name text-center">
                                    <h5>Henry smith</h5>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div className="col-12 col-md-6 col-lg-5">
                        <div className="slider slider-nav">
                            <div className="client-thumbnail">
                                <img src="public/img/bg-img/client-3.jpg" alt="" />
                            </div>
                            <div className="client-thumbnail">
                                <img src="public/img/bg-img/client-2.jpg" alt="" />
                            </div>
                            <div className="client-thumbnail">
                                <img src="public/img/bg-img/client-1.jpg" alt="" />
                            </div>
                            <div className="client-thumbnail">
                                <img src="public/img/bg-img/client-2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section className="our-monthly-membership section_padding_50 clearfix">
            <div className="container">
                <div className="row align-items-center">
                    <div className="col-md-8">
                        <div className="membership-description">
                            <h2>Join our Monthly Membership</h2>
                            <p>Find the perfect plan for you — 100% satisfaction guaranteed.</p>
                        </div>
                    </div>
                    <div className="col-md-4">
                        <div className="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                            <a href="#">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section className="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
            <div className="container">
                <div className="row">
                    <div className="col-12 text-center">

                        <div className="section-heading">
                            <h2>Our Team</h2>
                            <div className="line-shape"></div>
                        </div>
                    </div>
                </div>
                <div className="row">
                    <div className="col-12 col-md-6 col-lg-3">
                        <div className="single-team-member">
                            <div className="member-image">
                                <img src="public/img/team-img/team-1.jpg" alt="" />
                                <div className="team-hover-effects">
                                    <div className="team-social-icon">
                                        <a href="#"><i className="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <a href="#"> <i className="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div className="member-text">
                                <h4>Jackson Nash</h4>
                                <p>Tax Advice</p>
                            </div>
                        </div>
                    </div>
                    <div className="col-12 col-md-6 col-lg-3">
                        <div className="single-team-member">
                            <div className="member-image">
                                <img src="public/img/team-img/team-2.jpg" alt="" />
                                <div className="team-hover-effects">
                                    <div className="team-social-icon">
                                        <a href="#"><i className="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <a href="#"> <i className="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div className="member-text">
                                <h4>Alex Manning</h4>
                                <p>CEO-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div className="col-12 col-md-6 col-lg-3">
                        <div className="single-team-member">
                            <div className="member-image">
                                <img src="public/img/team-img/team-3.jpg" alt="" />
                                <div className="team-hover-effects">
                                    <div className="team-social-icon">
                                        <a href="#"><i className="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <a href="#"> <i className="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div className="member-text">
                                <h4>Ollie Schneider</h4>
                                <p>Business Planner</p>
                            </div>
                        </div>
                    </div>
                    <div className="col-12 col-md-6 col-lg-3">
                        <div className="single-team-member">
                            <div className="member-image">
                                <img src="public/img/team-img/team-4.jpg" alt="" />
                                <div className="team-hover-effects">
                                    <div className="team-social-icon">
                                        <a href="#"><i className="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i className="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <a href="#"> <i className="fa fa-instagram" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div className="member-text">
                                <h4>Roger West</h4>
                                <p>Financer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section className="footer-contact-area section_padding_100 clearfix" id="contact">
            <div className="container">
                <div className="row">
                    <div className="col-md-6">

                        <div className="section-heading">
                            <h2>Get in touch with us!</h2>
                            <div className="line-shape"></div>
                        </div>
                        <div className="footer-text">
                            <p>We'll send you epic weekly blogs, whitepapers and things to make your app startup
                                thrive,
                                all FREE!</p>
                        </div>
                        <div className="address-text">
                            <p><span>Address:</span> 40 Baria Sreet 133/2 NewYork City, US</p>
                        </div>
                        <div className="phone-text">
                            <p><span>Phone:</span> +11-225-888-888-66</p>
                        </div>
                        <div className="email-text">
                            <p><span>Email:</span> info.deercreative@gmail.com</p>
                        </div>
                    </div>
                    <div className="col-md-6">

                        <div className="contact_from">
                            <form action="#" method="post">

                                <div className="contact_input_area">
                                    <div className="row">

                                        <div className="col-md-12">
                                            <div className="form-group">
                                                <input type="text" className="form-control" name="name" id="name"
                                                    placeholder="Your Name" required />
                                            </div>
                                        </div>

                                        <div className="col-md-12">
                                            <div className="form-group">
                                                <input type="email" className="form-control" name="email" id="email"
                                                    placeholder="Your E-mail" required />
                                            </div>
                                        </div>

                                        <div className="col-12">
                                            <div className="form-group">
                                                <textarea name="message" className="form-control" id="message" cols="30"
                                                    rows="4" placeholder="Your Message *" required></textarea>
                                            </div>
                                        </div>

                                        <div className="col-12">
                                            <button type="submit" className="btn submit-btn">Send Now</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer className="footer-social-icon text-center section_padding_70 clearfix">

            <div className="footer-text">
                <h2>Ca.</h2>
            </div>

            <div className="footer-social-icon">
                <a href="#"><i className="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i className="active fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"> <i className="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i className="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
            <div className="footer-menu">
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <div className="copyright-text">

                <p>Copyright ©2017 Ca. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
        </footer>
    <!-- vue JS -->
    <script crossorigin src="public/vuejs/vue.js"></script>
    <!-- Jquery-2.2.4 JS -->
    <script src="public/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="public/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="public/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="public/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="public/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="public/js/footer-reveal.min.js"></script>
    
    <!-- Active JS -->
    <script src="public/js/active.js"></script>
</body>

</html>