<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>
        <%=appTitle%>
    </title>
    <!-- Favicon -->
    <link rel="icon" href="public/img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link href="public/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="public/css/responsive.css" rel="stylesheet">
    <script type="text/javascript" src="<%=assetURL.currentUrl%>/socket.io/socket.io.js"></script>
    <!-- vue JS -->
    <style>
        input{
            background: #9572e8;
            height: 50px;
            border: none;
            border-radius: 24px;
            padding: 0px 15px;
        }
        .mgT140px{
            margin-top: 140px
        }
        .wellcome_area .sign-up-btn-page > input.btn-submit {
            color: #fff;
            font-weight: 500;
            display: block;
            border: 2px solid #a883e9;
            height: 50px;
            width: 100%;
            line-height: 46px;
            text-align: center;
            border-radius: 24px 24px 24px 0px;
        }
        .wellcome_area .sign-up-btn-page >  input.btn-submit:hover {
            background: #fb397d;
            color: #fff;
            border-color: transparent;
            -webkit-transition-duration: 500ms;
            -o-transition-duration: 500ms;
            transition-duration: 500ms;
        }
        .fixCenter{
            margin: 0 auto
        }
        .wellcome_area p{
            color: #fff
        }
        .wellcome_area a{
            color: #111
        }
        .wrapper--page-list-user{
            width: 100%;
        }
        .wrapper--page-list-user .list{
            clear: both;
        }
        .item-user{
            display: inline-block;
            width: 33.33%;
            min-width: 300px;
            float: left;
        }
        .user_img{
            display: inline-block;
            width: 72px;
            height: 72px;
            vertical-align: middle;
            border-radius: 50%;
            overflow: hidden;
        }
        .user_infor{
            display: inline-block;
            padding-left: 20px;
            vertical-align: middle;
        }
        .user_infor h4 a{
            color: #e8bbc3;
            font-size: 18px;
            font-weight: bold;
            line-height: 18px;
        }
        .user_infor h4{
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #e8bbc3;
        }
        .user_infor p{
            color: #fff;
            font-size: 12px;
            line-height: 16px;
            max-width: 250px;
        }
        .disBlock{
            display: block
        }
        .progress-bar{
            background-color: #2bfd92;
            color : black
        }
    </style>
</head>

<body>
    <div id="wrapper__page_home">
        <!-- Preloader Start -->
        <div id="preloader">
            <div class="colorlib-load"></div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12 col-lg-10">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" :href="dataHeader.linkHomePage">{{appName}}</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                    aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                        class="navbar-toggler-icon"></span></button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="ca-navbar">
                                    <ul class="navbar-nav ml-auto" id="nav">
                                        <li class="nav-item" v-for="(item, index) in dataHeader.listLinkMenu" :class="{ active : index == 1 }"
                                            v-if="item.show">
                                            <a class="nav-link" :href="item.href">{{item.text}}</a>
                                        </li>
                                    </ul>
                                    <div class="sing-up-button d-lg-none">
                                        <a :href="link_btnSignInFree" v-if="!isLogin">{{btnSignInFree}}</a>
                                        <a :href="dataUser.linkService" v-else>{{dataUser.email.split("@")[0]}}</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Signup btn -->
                    <div class="col-12 col-lg-2">
                        <div class="sing-up-button d-none d-lg-block">
                            <a :href="link_btnSignInFree" v-if="!isLogin">{{btnSignInFree}}</a>
                            <a :href="dataUser.linkService" v-else>{{dataUser.email.split("@")[0]}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <!-- ***** Wellcome Area Start ***** -->
        <section class="wellcome_area clearfix" :style="{'background' : 'url('+dataWelcome.bg_image+')', 'height': 'inherit', 'min-height':heightWindows+'px'}">
            <div class="container">
                <div class="row">
                    <div class="wrapper--page-list-user mgT140px">
                        <div class="col-sm-6 col-sm-push-3 fixCenter">
                            <div class="" >
                                đang gửi tin nhắn..
                            </div>
                            <div class="wrapper-progess" >
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" :aria-valuenow="dataUserLoad"
                                        aria-valuemin="0" aria-valuemax="100" :style="'width:'+dataUserLoad+'%'">
                                        <span v-if="dataUserLoad > 20">{{dataUserLoad}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user">
                            <div class="list">
                                <div class="item-user" v-for="item in dataUserFacebook">
                                    <div class="user_img">
                                        <img :src="'https://graph.facebook.com/'+item.id+'/picture?type=normal'" alt="" />
                                    </div>
                                    <div class="user_infor">
                                        <h4>
                                            <a :href="'https://www.facebook.com/profile.php?id='+item.id">{{item.name}}</a>
                                        </h4>
                                        <p>
                                            <span class="disBlock">{{item.join}}</span>
                                            {{item.about}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Wellcome Area End ***** -->
    </div>
    <script crossorigin src="public/vuejs/vue.js"></script>
    <script>
        const baseUrl = '<%=assetURL.currentUrl%>';
        var app = new Vue({
            el: '#wrapper__page_home',
            data: {
                hideRunning: false,
                appName: '<%=appName%>',
                dataUser: {
                    email: '<%= (dataUser == null ? "undefined" : dataUser.email)%>',
                    linkService: "<%=objectServer.linkDomain%>/service"
                },
                isLogin: <%= (dataUser == null ? false : true) %>,
            btnSignInFree: "đăng nhập",
            link_btnSignInFree: "<%=objectServer.linkDomain%>/sign-in",
            appDescription: '<%=appDescription%>',
            linkGoogleApp: '<%=linkGoogleApp%>',
            linkAppleApp: '<%=linkAppleApp%>',
            heightWindows: window.innerHeight,
            dataHeader: {
                linkHomePage: '<%=objectServer.linkDomain%>',
                listLinkMenu: [
                    { show: true, href: "<%=objectServer.linkDomain%>/sign-out", text: "sign out" }
                ]
            },
            dataWelcome: {
                bg_image: "public/img/bg-img/welcome-bg-sign-up.png"
            },
            dataUserFacebook: [
                {
                    id: 100008412333905,
                    name: 'trương rhanh hùng',
                    about: 'sdfgh fnaf sfnsajsan asdnsadjasn asdnsadjsa sajdnja '
                }
            ],
            dataUserLoad: 0
        }
        })
    </script>
    <!-- Jquery-2.2.4 JS -->
    <script src="public/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="public/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="public/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="public/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="public/js/slick.min.js"></script>


    <!-- Active JS -->
    <script src="public/js/active.js"></script>
    <script>
        const socket = io.connect(baseUrl);
        // jQuery Document
        $(document).ready(function () {
            ///đón thông tin id socket
            socket.on('id_socket', function (data) {
                console.log(data);
            });
            
            socket.on('percent_sent_complete', function (d) {
                console.log(d);
                /////trường hợp đây là group
                switch (d.type) {
                    case "loadPercent":
                        console.log(d.data);
                        app.dataUserLoad = d.data;
                        break;
                    case "error":
                        console.log(d.data);
                        if(d.data.error){
                            alert("có lỗi sảy ra");
                            window.location.href = '/';
                        }
                        break;
                    
                    default:
                        console.log("có ngoại lệ ở : socket.on('percent_sent_complete' ")
                }
                

            });
        });
    </script>
</body>

</html>