<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>
        <%=appTitle%>
    </title>
    <!-- Favicon -->
    <link rel="icon" href="public/img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link href="public/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="public/css/responsive.css" rel="stylesheet">
    <!-- vue JS -->
    <style>
        input{
            background: #9572e8;
            height: 50px;
            border: none;
            border-radius: 24px;
            padding: 0px 15px;
        }
        .mgT140px{
            margin-top: 140px
        }
        .wellcome_area .sign-up-btn-page > input {
            color: #fff;
            font-weight: 500;
            display: block;
            border: 2px solid #a883e9;
            height: 50px;
            width: 100%;
            line-height: 46px;
            text-align: center;
            border-radius: 24px 24px 24px 0px;
        }
        .wellcome_area .sign-up-btn-page > input:hover {
            background: #fb397d;
            color: #fff;
            border-color: transparent;
            -webkit-transition-duration: 500ms;
            -o-transition-duration: 500ms;
            transition-duration: 500ms;
        }
        .fixCenter{
            margin: 0 auto
        }
        .wellcome_area p{
            color: #fff
        }
        .wellcome_area a{
            color: #111
        }
    </style>
</head>

<body>
    <div id="wrapper__page_home">
        <!-- Preloader Start -->
        <div id="preloader">
            <div class="colorlib-load"></div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12 col-lg-10">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" :href="dataHeader.linkHomePage">{{appName}}</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                    aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                        class="navbar-toggler-icon"></span></button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="ca-navbar">
                                    <ul class="navbar-nav ml-auto" id="nav">
                                        <li class="nav-item" :style="dataHeader.showMenuStyle">
                                            <a class="nav-link" href="#">home</a>
                                        </li>
                                    </ul>
                                    <div class="sing-up-button d-lg-none">
                                        <a :href="link_btnSignInFree">{{btnSignInFree}}</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Signup btn -->
                    <div class="col-12 col-lg-2">
                        <div class="sing-up-button d-none d-lg-block">
                            <a :href="link_btnSignInFree">{{btnSignInFree}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <!-- ***** Wellcome Area Start ***** -->
        <section class="wellcome_area clearfix" :style="{'background' : 'url('+dataWelcome.bg_image+')', 'height': 'inherit', 'min-height':heightWindows+'px'}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-3 fixCenter">

                        <!-- LOGIN FORM -->
                        <form class="mgT140px" :action="dataHeader.linkHomePage+'/sign-up'" method="post" @submit="checkForm"
                            novalidate="true">
                            <!-- show any messages that come back with authentication -->
                            <% if (message.length > 0) { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                            <% } %>
                            <!-- show any messages that come back with authentication -->
                            <p v-if="errors.length">
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>
                            <div class="form-group">
                                <input placeholder="email *" type="text" class="form-control" name="email" v-model="email">
                            </div>
                            <div class="form-group">
                                <input placeholder="Password *" type="password" class="form-control" name="password"
                                    v-model="password">
                            </div>
                            <div class="form-group">
                                <input placeholder="Confirm Password *" type="password" class="form-control" name="confirm"
                                    v-model="confirm">
                            </div>
                            <div class="form-group">
                                <input placeholder="sdt *" type="text" class="form-control" name="sdt" v-model="sdt">
                            </div>
                            <div class="sign-up-btn-page">
                                <input type="submit" :value="btnSignInFree" />
                            </div>
                        </form>
                        <hr>
                        <p>i have account? <a :href="dataHeader.linkHomePage + '/sign-in'">đăng nhập</a></p>
                        <p>Or go <a :href="dataHeader.linkHomePage">home page</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Wellcome Area End ***** -->
    </div>
    <script crossorigin src="public/vuejs/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#wrapper__page_home',
            data: {
                errors: [],
                
                email: null,
                password: null,
                confirm: null,
                sdt: null,


                appName: '<%=appName%>',
                btnSignInFree: "đăng kí miễn phí",
                link_btnSignInFree: "<%=objectServer.linkDomain%>/sign-up",
                appDescription: '<%=appDescription%>',
                linkGoogleApp: '<%=linkGoogleApp%>',
                linkAppleApp: '<%=linkAppleApp%>',
                heightWindows: window.innerHeight,
                dataHeader: {
                    linkHomePage: '<%=objectServer.linkDomain%>',
                    showMenuStyle: {
                        visibility: 'hidden'
                    },
                },
                dataWelcome: {
                    bg_image: "public/img/bg-img/welcome-bg-sign-up.png"
                },
            },
            methods: {
                checkForm: function (e) {
                    this.errors = [];
                    if (!this.email) {
                        this.errors.push("Email required.");
                    } else if (!this.validEmail(this.email)) {
                        this.errors.push("Valid email required.");
                    }
                    if (!this.password) {
                        this.errors.push("password required.");
                    }else{
                        if (this.password.length < 6) this.errors.push("password 6.");
                    }
                    
                    if (this.password != this.confirm) this.errors.push("confirm isvalid.");
                    if (!this.sdt) {
                        this.errors.push("sdt required.");
                    }else{
                        if (this.sdt.length < 9) this.errors.push("sdt 9.");
                    }
                    if (!this.errors.length) return true;
                    e.preventDefault();
                },
                validEmail: function (email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }
            }
        })
    </script>
    <!-- Jquery-2.2.4 JS -->
    <script src="public/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="public/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="public/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="public/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="public/js/slick.min.js"></script>


    <!-- Active JS -->
    <script src="public/js/active.js"></script>

</body>

</html>